:root {
    --main-font-color : #D0CDC5;
    --secondary-font-color : #2F323A;
    --navbar-color : #77567A;
    --french-mauve : #C47AC0;
    --amaranth-pink : #E39EC1;
    --background-color : #DEBAC0;
}
@keyframes upAndDown {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate-cw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-ccw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.rotate-animation-cw {
    animation: rotate-cw 0.5s ease forwards;
}

.rotate-animation-ccw {
    animation: rotate-ccw 0.5s ease forwards;
}

* {
    scroll-behavior: smooth;
    scroll-margin: 120px;
}

body {
    margin: 0;
    padding: 0;
    
    color: var(--secondary-font-color);
    background-color: var(--background-color);
    transition: all 0.5s ease;
}

#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--navbar-color);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#navbar button {
    background: none;
    border: none;
    margin-right: 20px;

    cursor: pointer;
}
#navbar button img {
    width: 50px;
}
#theme-image {
    transition: none;
}
.rotate-animation {
    transform: rotate(360deg);
}

#navbar-branding {
    display: flex;
    align-items: center; 
}

#navbar-branding img {
    width: 70px;
    margin: 20px;
}

#navbar-branding h1 {
    margin: 0;
}

#navbar-buttons {
    display: flex;
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
}

#navbar-buttons li {
    margin: 0 10px;
    border-bottom: solid 3px var(--navbar-color);
    transition: all 0.3s ease;
}

#navbar-buttons a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

#navbar-buttons li:hover {
    border-color: var(--main-font-color);
}


#title {
    height: 100vh;
    background-image: url("../assets/images/background-image-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#title h1 {
    margin: 0;
    padding: 40vh 0 0 0;
    text-align: center;
    font-size: 10em;
    color: #2F323A;
    transition: all 0.5s ease;
}
#title a img {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 130px;
    
    animation: upAndDown 1s infinite ease-in-out;
    animation-play-state: running;

    transition: border-radius 0.3s;
}
#title a img:hover {
    border-radius: 100px;
    animation-play-state: paused;
}

#cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: var(--french-mauve);
    width: 300px;
    text-align: center;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 4%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: all 0.3s;
}

.card h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card ul li {
    margin: 5px 0;
    font-size: 16px;
    color: #fff;
}

.card h2.price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    transition: opacity 0.3s ease;
}

.card .contact-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: var(--french-mauve);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.card:hover .contact-btn {
    display: block;
}
.card:hover img {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
}
.card .contact-btn:hover {
    background-color: var(--french-mauve);
    color: #fff;
}